client/lib
client/classes
client/webapp/inventoryWS/*.war
client/webapp/inventoryWS/WEB-INF/classes
client/webapp/inventoryWS/WEB-INF/lib
client/jaxb-ri-2.2.7
client/jaxrs-ri
client/bin
client/.classpath
client/.project
server/lib
server/classes
server/webapp/inventoryWS/*.war
server/webapp/inventoryWS/WEB-INF/classes
server/webapp/inventoryWS/WEB-INF/lib
server/jaxb-ri-2.2.7
server/jaxrs-ri
server/bin
server/.classpath
server/.project
*.swp
